{% extends 'base.html.twig' %}

{% block title %}
    {{  project.name|default('message.project_not_found'|trans) }}
{% endblock %}

{% block body %}
    {% if project is defined and project is not null %}
        <div class="text-muted h5">
            {{ 'title.project_view'|trans({'%id%' : project.id | default('')}) }}
        </div>
        <h1>{{  project.name|default('message.project_not_found'|trans) }}</h1>

        <h2 class="h5 mt-5">{{ 'label.details'|trans }}</h2>
        <ul class="list-unstyled w-25 mb-5">
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.project_manager'|trans }}</span>
                <span>{{ project.manager.nickname }}</span>
            </li>
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.created_at'|trans }}</span>
                <span>{{ project.createdAt|format_date('long') }}</span>
            </li>
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.updated_at'|trans }}</span>
                <span>{{ project.updatedAt|format_date('long') }}</span>
            </li>
        </ul>

        {% if project.members is defined and project.members|length %}
            <h2 class="h5 mt-5">{{ 'label.members'|trans }}</h2>
            <ul class="list-unstyled w-15 mb-5">
                {% for member in project.members %}
                <li class="d-flex justify-content-between {% if not loop.last %} border-bottom border-secondary {% endif %} px-2 py-2">
                    <a href="{{ url('user_show', {id: member.id}) }}" title="{{ 'action.view'|trans }}" class="text-decoration-none">{{ member.nickname }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <a href="{{ url('report_index', {projectId: project.id}) }}" class="btn btn-secondary">{{ 'action.reports_from_project'|trans }}</a>

        {% if is_granted('EDIT', project) %}
            <div class="dropdown">
                <button class="btn btn-primary my-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'action.edit'|trans }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url('project_members_add', {id: project.id}) }}">{{ 'action.add_members'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ url('project_edit_manager', {id: project.id}) }}">{{ 'action.edit_project_manager'|trans }}</a></li>
                    <li><a class="dropdown-item" href="{{ url('project_edit', {id: project.id}) }}">{{ 'action.edit_name'|trans }}</a></li>
                </ul>
            </div>
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}