{% extends 'base.html.twig' %}

{% block title %}
    {{  category.title|default('message.category_not_found'|trans) }}
{% endblock %}

{% block body %}
    <h1>{{  category.title|default('message.category_not_found'|trans) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
        </dl>
        <div class="mb-5">
            <a href="{{ url('category_edit', {id: category.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
            <a href="{{ url('category_delete', {id: category.id}) }}" class="btn btn-danger float-right">{{ 'action.delete'|trans }}</a>
        </div>
        {% if reports is defined and reports.items|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.report'|trans }}</th>
                    <th>{{ 'label.created_at'|trans }}</th>
                    <th>{{ 'label.updated_at'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for report in reports.items %}
                    <tr>
                        <td><a href="{{ url('report_show', {id: report.id}) }}" title="{{ 'action.view'|trans }}" class="text-decoration-none">{{ report.title }}</a></td>
                        <td>{{ report.createdAt|format_date('long') }}</td>
                        <td>{{ report.updatedAt|format_date('long') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(reports) }}
            </div>
        {% else %}
            {{ 'message.empty_list'|trans }}
        {% endif %}
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}