{% extends 'base.html.twig' %}

{% block title %}
    {{  category.title|default('message.category_not_found'|trans) }}
{% endblock %}

{% block body %}
    <h1>{{  category.title|default('message.category_not_found'|trans) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ category.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|format_date('long') }}</dd>
        </dl>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-5">
                <a href="{{ url('category_edit', {id: category.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
                <a href="{{ url('category_delete', {id: category.id}) }}" class="btn btn-danger float-right">{{ 'action.delete'|trans }}</a>
            </div>
        {% endif %}

        <a href="{{ url('report_index', {categoryId: category.id}) }}" class="btn btn-secondary">{{ 'action.category_report_list'|trans }}</a>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}