{% extends 'base.html.twig' %}

{% block title %}
    {{  category.title|default('message.category_not_found'|trans) }}
{% endblock %}

{% block body %}
    {% if category is defined and category|length %}
        <div class="text-muted h5">
            {{ 'title.category_view'|trans({'%id%' : category.id | default('')}) }}
        </div>
        <h1>{{  category.title|default('message.category_not_found'|trans) }}</h1>

        <h2 class="h5 mt-5">{{ 'label.details'|trans }}</h2>
        <ul class="list-unstyled w-25 mb-5">
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.created_at'|trans }}</span>
                <span>{{ category.createdAt|format_date('long') }}</span>
            </li>
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.updated_at'|trans }}</span>
                <span>{{ category.updatedAt|format_date('long') }}</span>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-5">
                <a href="{{ url('category_edit', {id: category.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
                <a href="{{ url('category_delete', {id: category.id}) }}" class="btn btn-danger float-right">{{ 'action.delete'|trans }}</a>
            </div>
        {% endif %}

        <a href="{{ url('report_index', {categoryId: category.id}) }}" class="btn btn-secondary">{{ 'action.category_report_list'|trans }}</a>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}