{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.manage_account'|trans }}
{% endblock %}

{% block body %}
    {% if user is defined and user is not null %}

        <div class="text-muted h5">
            {{ 'title.user_view'|trans({'%id%' : user.id | default('')}) }}
        </div>

    <h1>
        {% if is_granted('EDIT', user) %}
            {% if app.user.id == user.id %}
                {{ 'label.my_account'|trans }}
            {% else %}
                {{ 'label.manage_account %username%'|trans({'%username%': user.nickname|default('')}) }}
            {% endif %}
        {% else %}
            {{ 'label.account %username%'|trans({'%username%': user.nickname|default('')}) }}
        {% endif %}
    </h1>

    <dl class="dl-horizontal mt-4">
        <dt>{{ 'label.nickname'|trans }}</dt>
        <dd>{{ user.nickname }}</dd>
        <dt>{{ 'label.email'|trans }}</dt>
        <dd>{{ user.email }}</dd>
    </dl>

    {% if is_granted('EDIT', user) %}
        <div class="dropdown">
            <button class="btn btn-primary my-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'action.change'|trans }}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url('pass_edit', {id: user.id}) }}">{{ 'action.edit_pass'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ url('nick_edit', {id: user.id}) }}">{{ 'action.edit_nick'|trans }}</a></li>
                <li><a class="dropdown-item" href="{{ url('email_edit', {id: user.id}) }}">{{ 'action.edit_email'|trans }}</a></li>
            </ul>
        </div>
    {% endif %}
      {% if is_granted('DELETE', user) %}
        <a href="{{ url('user_delete', {id: user.id}) }}" class="btn btn-danger">{{ 'action.delete_user'|trans }}</a>
      {% endif %}
    {% endif %}
{% endblock %}