{% extends 'base.html.twig' %}

{% block title  %}
    Report list
{% endblock %}

{% block body %}
    <h1>Report list</h1>
    {% if reports is defined and reports|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.title }}</td>
                    <td>{{ report.createdAt }}</td>
                    <td>{{ report.updatedAt }}</td>
                    <td>
                        <a href="{{ url('report_show', {id: report.id}) }}" title="View">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>
        List is empty.
    </p>
{% endif %}
{% endblock %}
