{% extends 'base.html.twig' %}

{% block title %}
     {{ report.title|default('message.report_not_found'|trans) }}
{% endblock %}

{% block body %}
    <h1>{{ report.title|default('message.report_not_found'|trans) }}</h1>
    {% if report is defined and report|length %}
    <p class="fs-6 mt-3 border rounded">{{ report.description|markdown_to_html }}</p>
    <dl class="dl-horizontal mt-4">
        <dt>{{ 'label.id'|trans }}</dt>
        <dd>{{ report.id }}</dd>
        <dt>{{ 'label.category'|trans }}</dt>
        <dd><a href="{{ url('category_show', {id: report.category.id}) }}" title="{{ 'action.view'|trans }}" class="text-decoration-none">{{ report.category.title }}</a></dd>
        <dt>{{ 'label.author'|trans }}</dt>
        <dd>{{ report.author.nickname }}</dd>
        {% if report.project is defined and report.project is not null%}
            <dt>{{ 'label.project'|trans }}</dt>
            <dd>{{ report.project.name }}</dd>
        {% endif %}
        <dt>{{ 'label.status'|trans }}</dt>
        <dd>{{ report.status.label|trans }}</dd>
        <dt>{{ 'label.created_at'|trans }}</dt>
        <dd>{{ report.createdAt|format_date('long') }}</dd>
        <dt>{{ 'label.updated_at'|trans }}</dt>
        <dd>{{ report.updatedAt|format_date('long') }}</dd>
        <dt>{{ 'label.tags'|trans }}</dt>
        <dd>
            {% for tag in report.tags %}
                {{ tag.title }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </dd>
    </dl>
    {% if is_granted('COMMENT') %}
        <a href="{{ url('report_comment', {id: report.id}) }}" class="btn btn-primary">{{ 'action.comment'|trans }}</a>
    {% endif %}

    {% if is_granted('EDIT_REPORT', report) %}
        <a href="{{ url('report_edit', {id: report.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
    {% endif %}
    {% if is_granted('DELETE_REPORT', report) %}
        <a href="{{ url('report_delete', {id: report.id}) }}" class="btn btn-danger float-right">{{ 'action.delete'|trans }}</a>
    {% endif %}
    {% if is_granted('TOGGLE_ARCHIVE', report) %}
        {% if report.status.label == 'label.archived' %}
            <a href="{{ url('report_toggle_archive', {id: report.id}) }}" class="btn btn-secondary float-right">{{ 'action.unarchive'|trans }}</a>
        {% else %}
            <a href="{{ url('report_toggle_archive', {id: report.id}) }}" class="btn btn-secondary float-right">{{ 'action.archive'|trans }}</a>
        {% endif %}
    {% endif %}

    <div class="mt-5">
    {% if form is defined and form|length %}
        {% include 'default/_trial_form.html.twig' with {
            form: form,
            submit_label: 'action.create'|trans,
            cancel_path: path('report_show', {id :report.id})
        } %}
    {% endif %}

    {% if comments is defined and comments.items|length %}
            <p class="h5 mt-3">{{ 'label.comments'|trans }}</p>
            {% for comment in comments.items %}
            <div class="border rounded p-3 mb-2">
                <div class="pb-1">
                    <span class="fw-bold">{{ comment.author.nickname }}</span> &bull; <span>{{ comment.createdAt|format_date('long') }}</span>
                </div>
                <div>{{ comment.content|markdown_to_html }}</div>
                {% if is_granted('EDIT_COMMENT', comment) and is_granted('DELETE_COMMENT', comment) %}
                    <div class="btn-group">
                        <a href="{{ url('comment_edit', {id: comment.id}) }}" class="btn btn-outline-primary">{{ 'action.edit'|trans }}</a>
                        <a href="{{ url('comment_delete', {id: comment.id}) }}" class="btn btn-outline-danger">{{ 'action.delete'|trans }}</a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}

            <div class="navigation text-center">
                {{ knp_pagination_render(comments) }}
            </div>
    {% else %}
        {{ 'message.empty_list'|trans }}
    {% endif %}
    </div>
    {% else %}
    <p>{{ 'message.report_not_found'|trans }}</p>
    {% endif %}
{% endblock %}