{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.report_view'|trans({'%id%':report.id|default('')})}}
{% endblock %}

{% block body %}
    <h1>{{ 'title.report_view'|trans({'%id%':report.id|default('')})}}</h1>
    {% if report is defined and report|length %}
    <dl class="dl-horizontal">
        <dt>{{ 'label.id'|trans }}</dt>
        <dd>{{ report.id }}</dd>
        <dt>{{ 'label.title'|trans }}</dt>
        <dd>{{ report.title }}</dd>
        <dt>{{ 'label.created_at'|trans }}</dt>
        <dd>{{ report.createdAt|date('Y/m/d') }}</dd>
        <dt>{{ 'label.updated_at'|trans }}</dt>
        <dd>{{ report.updatedAt|date('Y/m/d') }}</dd>
    </dl>
    <p>
        <a href="{{ url('report_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    </p>
    {% else %}
    <p>{{ 'message.report_not_found'|trans }}</p>
    {% endif %}
{% endblock %}