{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label.tags'|trans }}
{% endblock %}

{% block body %}
    <h1 class="my-3">{{ 'label.tags'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="knp-th">{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'tag.title') }}</th>
                <th class="knp-th">{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'tag.createdAt') }}</th>
                <th class="knp-th">{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'tag.updatedAt') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in pagination.items %}
                <tr class="rounded">
                    <td><a href="{{ url('tag_show', {id: tag.id}) }}" title="{{ 'action.view'|trans }}" class="text-decoration-none">{{ tag.title }}</a></td>
                    <td>{{ tag.createdAt|format_date('long') }}</td>
                    <td>{{ tag.updatedAt|format_date('long') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url('tag_create') }}" class="btn btn-primary my-2">{{ 'action.create'|trans }}</a>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}