{% extends 'base.html.twig' %}

{% block title %}
    {{  tag.title|default('message.tag_not_found'|trans) }}
{% endblock %}

{% block body %}

    {% if tag is defined and tag|length %}
        <div class="text-muted h5">
            {{ 'title.tag_view'|trans({'%id%' : tag.id | default('')}) }}
        </div>

        <h1>{{  tag.title|default('message.tag_not_found'|trans) }}</h1>

        <h2 class="h5 mt-5">{{ 'label.details'|trans }}</h2>
        <ul class="list-unstyled w-25 mb-5">
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.created_at'|trans }}</span>
                <span>{{ tag.createdAt|format_date('long') }}</span>
            </li>
            <li class="d-flex justify-content-between border-bottom border-secondary px-2 py-2">
                <span class="fw-bold">{{ 'label.updated_at'|trans }}</span>
                <span>{{ tag.updatedAt|format_date('long') }}</span>
            </li>
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="mb-5">
                <a href="{{ url('tag_edit', {id: tag.id}) }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
                <a href="{{ url('tag_delete', {id: tag.id}) }}" class="btn btn-danger float-right">{{ 'action.delete'|trans }}</a>
            </div>
        {% endif %}

        <a href="{{ url('report_index', {tagId: tag.id}) }}" class="btn btn-secondary">{{ 'action.tag_report_list'|trans }}</a>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}